@media(max-width: 1200px) {
    #banner {
        min-height: 75vh;
    }
}

@media(max-width: 991px) {
    #about {
        padding-top: 30px;
        padding-bottom: 50px;
    }
    #footerBottom .social_link ul li a {
        margin: 0 7px;
    }
}

@media(max-width: 767px) {
    #banner .main__content p {
        padding: 0;
    }
    #footerBottom .social_link ul li a {
        font-size: 13px;
    }
    #footerBottom .footer_logo {
        font-size: 30px;
    }
    #footerBottom {
        p {
            font-size: 12px;
        }
    }
}

@media(max-width: 550px) {
    #services .services_heading h2 {
        font-size: 48px;
    }
    #about .animated_img,
    #signUp .animated_img {
        display: none;
    }
    #footerBottom .footer_logo {
        display: none;
    }
}

@media(max-width: 531px) {
    #banner .main__content h2 {
        font-size: 50px;
    }
    #about {
        padding-top: 50px;
    }
}

@media(max-width: 396px) {
    #banner {
        padding: 50px 0;
    }
}

@media(max-width: 360px) {
    #about .about__left h2,
    #signUp .about__left h2 {
        font-size: 50px;
    }
    #services {
        .row {
            --bs-gutter-x: 0;
        }
    }
}